body {
    background-color: var(--background-page-color);
    color: var(--white-color);
    font-family: 'Inter', sans-serif;
}

.container {
    max-width: 900px;
}

a:focus {
    outline: none;
    box-shadow: none;
}

.button {
    background-color: var(--background-element-color);
    color: var(--white-color);
    border-radius: 4px;
    border: 1px solid var(--white-color);
    padding: 6px 10px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.button:hover {
    background-color: var(--button-hover-color);
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
}

.div-button-bas-page {
    margin-bottom: 16px;
}

.section {
    background: var(--background-element-color);
    border-radius: 4px;
    padding: 20px 20px 5px 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.theme-row {
    display: flex;                /* active le mode flex */
    justify-content: space-between; /* espace les enfants aux extrémités */
    align-items: center;          /* aligne verticalement */
    margin-bottom: 16px;
}

/* Conteneur du switch — plus besoin de display:flex ici */
.theme-toggle {
    position: relative;
    width: 60px;
    height: 26px;
}

/* Masquer la checkbox native */
.theme-toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Track du switch */
.theme-toggle .slider {
    position: absolute;
    cursor: pointer;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: #3a3a3a;
    border-radius: 999px;         /* track parfaitement arrondi */
    transition: background-color 0.3s;
}

/* Knob ovale */
.theme-toggle .slider::before {
    content: "";
    position: absolute;
    top: 2px;    /* centrer verticalement */
    left: 2px;   /* espace depuis le bord gauche */
    width: 32px; /* largeur du knob */
    height: 22px;/* hauteur du knob, un peu plus fine que le track */
    background-color: #fff;
    border-radius: 30px; /* demi-hauteur pour un ovale parfait */
    transition: transform 0.3s;
}

/* État ON */
.theme-toggle input:checked + .slider {
    background: linear-gradient(to right, var(--banniere-color-2), var(--banniere-color-1));
}

.theme-toggle input:checked + .slider::before {
    transform: translateX(24px); /* déplace l’ovale à droite */
}

.footer {
    background: var(--background-element-color);
    padding: 20px;
    border-radius: 4px;
    margin-bottom: 40px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.footer .contact-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--box-color);
    padding: 15px;
    border-radius: 4px;
    margin: 5px 0;

    a {
        color: var(--white-color);
    }
}

.footer .contact-box i {
    font-size: 1.2rem;
    margin-right: 10px;
}