body {
    background-color: #2c3e50;
    font-family: 'Karla','Helvetica Neue',serif;
    color: white;
}

.titre {
    font-family: Georgia,serif;
    font-size: 80px;
}

#numtel a{
    color: white;
    text-decoration: none;
}

.ulDiplomesAnnee li{
    color: white;
    list-style: none;
    text-align: center;
}

p {
    text-align: justify;
}

img {
    border-radius: 20px;
}

.petitEncadrement{
    max-width: 422px;
    width: 90%;
}

@media screen and (max-width: 900px) {
    .petitEncadrement{
        max-width: 522px;
    }
}

.grandEncadrement{
    max-width: 522px;
    width: 90%;
}

.infoProjet{
    width: 95%;
}

.infoProjet h3{
    text-align: center;
}

.encadrementSombre{
    padding: 20px;
    background: #3a4f64;
    border-radius: 20px;
    box-shadow: 3px 3px 20px #18222c;
}
.encadrementSombre p{
    color: white;
}

.encadrementSombre h3{
    color: white;
}

.encadrementSombre h5{
    color: white;
}

.titreProjet {
    margin-top: 30px;
    font-family: Georgia,serif;
    font-size: 40px;
    color: white;
}

#videoStage{
    border-radius: 20px;
}

.logoGitHub{
    display: flex;
    justify-content: start;
}

@media screen and (max-width: 770px) {
    .logoGitHub{
        margin-top: 20px;
        justify-content: center;
    }
}

#logoGitHub{
    cursor: pointer;
    color: white;
    font-size: 3rem;
}

.dernierParagraphe{
    margin-bottom: 0
}

@media screen and (max-width: 500px) {
    .titre {
        font-size: 60px;
    }
}