:root {
    --background-page-color: #191919;
    --white-color: #fff;
    --background-element-color: #252525;
    --box-color: #2e2e2e;
    --button-hover-color: #424141;
    --attachment-color: #4a4a4a;
    --carousel-control-color: #404040;
    --carousel-control-hover-color: #616161;
}