<footer class="footer">
    <h3>Contact</h3>
    <div class="row">
        <div class="col-md-6">
            <div class="contact-box">
                <i class="bi bi-geo-alt"></i>
                <span>Belfort, France</span>
            </div>
            <div class="contact-box">
                <i class="bi bi-telephone"></i>
                <span>06 49 30 01 39</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="contact-box">
                <i class="bi bi-github"></i>
                <a href="https://github.com/pgrvs">pgrvs</a>
            </div>
            <div class="contact-box">
                <i class="bi bi-envelope"></i>
                <span>gravinese.paul@orange.fr</span>
            </div>
        </div>
    </div>
</footer>